*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  background: linear-gradient(to bottom, #041628 0%, #0A2342 60%, #103a56 100%);
  color: #fff;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 60px 0;
}

.fonts {
  text-align: center;
}

.fonts a {
  color: #7FDBFF;
  text-decoration: none;
}
